// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata

.distrito-rugby-club
  width: calc(100%)
  min-height: calc(100vh)
  height: auto

  .card-title-box
    width: calc(100%)
    min-height: calc(20%)
    height: auto
    display: flex
    align-items: center
    justify-content: center
    background-color: #3c3335cc

  .clubs-index
    .card
      .card-img-overlay
        padding: 0 !important
        .card-title
          margin-bottom: 0
