// naming colors
$hibiscus: #e98195
$carmine: #cf0029
$maroon: #7b000b
$sangria: #49000e
$white: #fff
$black: #111
$dark: #171717
$gray: #424242


// General colors
$background-color: #f6f6e9
$base-text: $dark

// Colors for the base
$footer: $gray

// Colors for main menu
$main-menu-a: $hibiscus
$main-menu-b: $carmine
$main-menu-c: $maroon
$main-menu-d: $sangria

// colors for text
$title: $sangria
$section: $dark
