// Projec: Distrito Rugby
// File#Section: about
// Author: Johnny Zapata
// User: @jsamzapata

.distrito-rugby-about
	display: contents
	height: calc(100vh)
	.about-title
		font-size: 2.2em
		font-style: italic
		color: $title
		text-align: center
		margin: 30px auto 0 auto

	.about-section
		font-size: 1.3em
		font-weight: bold
		color: $dark
		margin: 20px
		text-align: center
