// Projec: Distrito Rugby
// File#Section: about
// Author: Johnny Zapata
// User: @jsamzapata

.distrito-rugby-about
	height: calc(100vh)
	.about-title
		font-size: 26px
		font-style: italic
		color: $title
		margin-top: 10px
		margin-left: 16px
		
	.about-section
		font-size: 16px
		font-weight: bold
		color: $dark
		margin: 5px
