// Projec: Distrito Rugby
// File#Section: Main Menu
// Author: Johnny Zapata
// User: @jsamzapata

.main-menu
	height: calc(100vh)
	width: calc(100%)

	.components
		.figure_container
			position: absolute
			top: 50vh
			left: 50vw
			margin-top: 50vh
			margin-left: 50vw
			display: flex
			.figu
				display: flex
				position: relative
				width: 50px
				height: 50px
				background-color: yellow
			//display: flex
		.figure
			position: absolute
			top: 50vh
			left: 50vw
			margin-top: 50vh
			margin-left: 50vw
			z-index: 10
			// display: flex
			// justify-content: center
			// align-items: center
			// vertical-align: center
			.diamond
				position: absolute
				margin: auto
				height: calc(50vh)
				width: calc(50vw)
				background-color: $dark
				animation: rotary 4s
				--webkit-animation: rotary 4s

			/*======old=======*/
			// display: flex
			// justify-content: center
			// align-items: center
			// vertical-align: middle
			/* diamond */
			// .diamond
			// 	display: flex
			// 	position: absolute
			// 	margin: auto
			// 	height: calc(50vh)
			// 	width: calc(50vw)
			// 	background-color: $dark
			// 	background: url('https://media2.giphy.com/media/26DN2sglox9GdAZoc/200w.gif?cid=3640f6095be92ec372416f3645297a81') no-repeat
			// 	background-size: calc(100%) calc(100%)
			// 	border: 1px solid black
				/*transform: rotate(45deg)*/
				/*-webkit-transform: rotate(45deg)*/
				/*top: calc(36vh)*/
				// z-index: 1
				// animation: rotary 4s
				// --webkit-animation: rotary 4s
		.areas
			.a-i
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-a
				border: 0.25px solid white
				justify-content: center
				align-items: center
			.a-ii
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-b
				border: 0.25px solid white
				justify-content: center
				align-items: center
			.a-iii
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-c
				border: 0.25px solid white
				justify-content: center
				align-items: center
			.a-iv
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-d
				border: 0.25px solid white
				justify-content: center
				align-items: center