// Projec: Distrito Rugby
// File#Section: Main Menu
// Author: Johnny Zapata
// User: @jsamzapata

.main-menu
	.mm-option
		color: $base-text
		position: absolute
		.text-caption
			font-weight: bold
			font-size: 1.1rem
			color: $white
			&:hover
				color: $carmine !important
				background-color: $white !important
	.components
		height: calc(100vh)
		width: calc(100%)
		.figure
			display: flex
			justify-content: center
			padding: auto
			/* diamond */
			.diamond
				display: flex
				position: absolute
				margin: auto
				height: calc(35vh)
				width: calc(35vh)
				background-color: $dark
				border: 2px solid $white
				transform: rotate(45deg)
				-webkit-transform: rotate(45deg)
				z-index: 100
				top: calc(32.5vh)

		.areas
			.a-background
				position: relative
				img
					height: calc(20vh)
			.a-i
				display: flex
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-a
				border: 0.25px solid white
				justify-content: center
				align-items: center
			.a-ii
				display: flex
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-b
				border: 0.25px solid white
				justify-content: center
				align-items: center
			.a-iii
				display: flex
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-c
				border: 0.25px solid white
				justify-content: center
				align-items: center
			.a-iv
				display: flex
				height: calc(50vh)
				width: calc(100%)
				background-color: $main-menu-d
				border: 0.25px solid white
				justify-content: center
				align-items: center
