.stories-index__content.col-12
  .stories-selection.card-columns
    - @stories_by_tag.each do |story|
      .card
        = link_to(image_tag(story.image, width: '100%', alt: "##{story.name} #DistritoRugby", class: 'img-hov' ), story)
        .card-body
          %h5.card-title= link_to story.name, story, class: 'link'
          %p.card-text= story.summary
