/ Project: Distrito Rugby
/ Author: Johnny Zapata - @jsamzapata

.col-12.col-lg-12.col-md-12.col-sm-12
	.main-menu
		-# .symbol
			-# .diamond
		.components
			.figure
				.case-diamond
					.diamond{:onclick => "diamondFunction()", :title => "Random Informativo"}
			.areas
				.row
					.col-6.col-lg-6.col-md-6.col-sm-6
						.a-i
							-# area background
							.a-bg
								-# = image_tag('main/nz-news.jpg')
							.mm-option
								= link_to (I18n.t 'home.news'), news_index_path, :class => 'text-caption'
					.col-6.col-lg-6.col-md-6.col-sm-6
						.a-ii
							-# area background
							.a-bg
								-# = image_tag('main/nz-stories.jpg')
							.mm-option
								= link_to (I18n.t 'home.stories'), stories_path, :class => 'text-caption'
				.row
					.col-6.col-lg-6.col-md-6.col-sm-6
						.a-iii
							-# area background
							.a-bg
								-# = image_tag('main/nz-tournaments.jpg')
							.mm-option
								= link_to (I18n.t 'home.tournaments'), game_tournaments_path, :class => 'text-caption'
					.col-6.col-lg-6.col-md-6.col-sm-6
						.a-iv
							-# area background
							.a-bg
								-# = image_tag('main/nz-toolbox.jpg')
							.mm-option
								= link_to (I18n.t 'home.toolbox'), toolbox_index_path, :class => 'text-caption'
		-# .row
		-# 	.col-6.col-lg-6.col-md-6.col-sm-6
		-# 		.mm-a
		-# 			.text
		-# 				= link_to (I18n.t 'home.news'), news_index_path, :class => 'text-caption'
		-# 	.col-6.col-lg-6.col-md-6.col-sm-6
		-# 		.mm-b
		-# 			.text
		-# 				= link_to (I18n.t 'home.stories'), stories_path, :class => 'text--caption'
		-# .row
		-# 	.col-6.col-lg-6.col-md-6.col-sm-6
		-# 		.mm-c
		-# 			.text
		-# 				= link_to (I18n.t 'home.tournaments'), tournaments_index_path, :class => 'text--caption'
		-# 	.col-6.col-lg-6.col-md-6.col-sm-6
		-# 		.mm-d
		-# 			.text
		-# 				= link_to 'Toolbox', toolbox_index_path, :class => 'text--caption'
