// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: news index

.distrito-rugby-news
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/", :class => 'link'}
          .fas.fa-home
      %li.breadcrumb-item
        %a{:href => news_index_path, :class => 'link' }= t('breadcrumb.news')
      %li.breadcrumb-item.active{"aria-current" => "page"} Index

  .news-content
    .news-content--out
      -# = image_tag 'common/undraw_under_construction.svg', :class => 'news-content--out'
      -# %br
      -# .news-content--out__text
      -#   = t('news.building')
