// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: news index
-# .distrito-rugby-news
%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{:href => "/", :class => 'link'}
        .fas.fa-home
    %li.breadcrumb-item
      %a{:href => news_index_path, :class => 'link' }= t('breadcrumb.news')
    %li.breadcrumb-item.active{"aria-current" => "page"} Index

.news-index
  .col-md-12
    .row
      .col-md-2

      .col-md-10
        - @all_news.each do |news|
          .news-index--space
            .col-6
              .news-index--set
                = image_tag(news.image, class: 'ni--set--image')
                .ni--set--title
                  = link_to news.title, news, class: 'link'
      -# .col-md-1
