.filters

.scrollmenu
  background-color: #333
  overflow: auto
  white-space: nowrap
  margin-top: -16px
  margin-bottom: 16px

  a
    display: inline-block
    color: white
    text-align: center
    padding: 14px
    text-decoration: none

    &:hover
      background-color: #777

.img-hov
  transform: scale(1)
  -webkit-transform: scale(1)
  transition: .3s ease-in-out
  -webkit-transition: .3s ease-in-out

  &:hover
    transform: scale(1.02)
    -webkit-transform: scale(1.05)
