// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata

@import "news/**/*"

.distrito-rugby-news
  .link
    color: $link !important
  .news-content
    width: calc(100vw)
    min-height: calc(100vh)
    height: auto
    .news-content--out
      display: block
      vertical-align: middle
      justify-content: center
      height: calc(80%)
      width: inherit
      padding: 20px 5px 0 5px
      .news-content--out__text
        font-size: 24px
        font-weight: bold
        color: $dark
        text-align: center

  .news-index
    width: calc(100vw)
    min-height: calc(100vh)
    height: auto
    .news-index--space
      margin: auto
      display: inline-grid

    .news-index--set
      display: block
      margin: 10px auto
      padding: 10px
      width: calc(30vw)
      height: calc(40vh)
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

      .ni--set--title
        font-size: 90%
        font-weight: bold
        text-align: center
        margin: 5px 5px 10px 10px
        color: $title
      .ni--set--date
        text-align: right
        font-size: 12px
        color: $date
      .ni--set--summary
        color: $gray
        font-size: 14px
        font-style: oblique
      .ni--set--image
        z-index: 1
        height: calc(80%)
        width: calc(80%)
        display: block
        margin: auto
      .ni--set--tags

    @media only screen and (max-width: 600px)
      .news-index--set
        width: calc(65vw)
        height: calc(35vh)
        .ni--set--title
          font-size: 63%

    @media only screen and (min-width: 1125px)
      .news-index--set
        .ni--set--title
          font-size: 100%
