// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata

.distrito-rugby-team
	.team--content
		width: calc(99.5vw)
		height: auto
		.team--content__image
			width: calc(100%)
			height: auto
		.team--content__about
			font-size: 1.3em
			font-weight: bold
			color: $section
			padding: 20px 40px
			text-align: justify
			.link
				font-size: 0.8em !important
				color: $link
				&:hover
					content: "asd"
	.team--token
		display: block
		.team--token__style
			display: flex
			justify-content: center
			font-size: 1.4em
			border: solid 1px black
