// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata

.distrito-rugby-team
	.team--content
		width: calc(100vw)
		height: auto
		.team--content__image
			width: calc(100%)
			height: auto