// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: Show User Profile 
-# .distrito-rugby-user-profile
.profile-show
  .profile-breadcrumb
    %nav{"aria-label" => "breadcrumb"}
      %ol.breadcrumb
        %li.breadcrumb-item
          %a{:href => "/", :class => 'link'}
            .fas.fa-home
        %li.breadcrumb-item.active{"aria-current" => "page"} Mi Perfil

  .profile-header
    .container
      // imagen definida por el usuario. Poner una por defecto (por que no un vídeo?). Centrada y con forma ovalada
      .profile-image.text-center
        =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuxR_zCF7xh9EjN9dKPdTSeEHGGAPD3IC6_A&usqp=CAU"
      // User full name
      %h4.text-center Joaquin Garces
      // user about
      %p.text-center
        Lorem ipsum dolor sit amet, consectetur elit. Placeat, rerum illum animi accusamus repudiandae ex veniam ea.
      -# Current role (Player, Coach, Referee, Viewer, Veteran)
      -# %p.ml-2.font-weight-bold.text-info Jugador
  .profile-details.container
    .col-12.profile-role
      %h5.text-center.mt-3.font-weight-bold.text-info Jugador
      .row
        .col-6
          %p Flanker
          %p Ataque: 70%
          %p Defensa: 85%
        .col-6
          %p Velocidad: 65%
          %p Fuerza: 78%
          %p Potencia: 72%

    %p.ml-2.mt-3
      %span.font-weight-bold Cumpleaños:
      %span 22 de Abril
    %p.ml-2.font-weight-bold Redes Sociales
    %h4.ml-5
      .fab.fa-facebook-square
      .fab.fa-instagram
      .fab.fa-youtube
    %p.mt-3.ml-2.font-weight-bold Historias y Noticias
    .media
      -# %img src="..." class="mr-3" alt="...">
      = image_tag '/', alt: 'image', class: 'mr-3'
      .media-body
        %h5.mt-0 Noticia de Joaquin
        %p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
        %h5.mt-0 El sueño de Joaquin
        %p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

