// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: Show User Profile 
-# .distrito-rugby-user-profile
.stories-breadcrumb
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/", :class => 'link'}
          .fas.fa-home
      %li.breadcrumb-item.active{"aria-current" => "page"} Mi Perfil