var li = $('.clubs-breadcrumb nav ol.breadcrumb li').length;

if (li == 3) {
  $('.clubs-breadcrumb nav ol.breadcrumb .breadcrumb-item.active').text("<%= Game::Club::REGIONS[params[:c].to_sym] %>");
}
else {
  $('.clubs-breadcrumb nav ol.breadcrumb li').last().remove();
  $('.clubs-breadcrumb nav ol.breadcrumb li').last().remove();
  $('.clubs-breadcrumb nav ol.breadcrumb').last().append(`<li class="breadcrumb-item active"> <%= Game::Club::REGIONS[params[:c].to_sym] %> </li>`);
}

$('.clubs-index .clubs-index__content.col-12').html("")
$('.clubs-index').html("<%= j (render partial: 'game/clubs/tags/clubs_by_continent', locals: {continent: @continent}) %>")
