// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata

.club-breadcrumb
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      %li.breadcrumb-item
        %a{:href => "/", :class => 'link'}
          .fas.fa-home
      %li.breadcrumb-item
        %a{:href => game_clubs_path, :class => 'link' }= t('breadcrumb.clubs')
      %li.breadcrumb-item.active{"aria-current" => "page"}= t('club.new')

%section.club-updating
  .section-name= t('club.create')
  .club-content
    = render 'form'
