// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: team index

.distrito-rugby-team
	.team--content
		.image-thumbnail
			= image_tag 'main/DR-2018b.jpg', :alt => "training-distrito-rugby-c13", :class => 'team--content__image'

		.team--activities
		= link_to t('common.see_pdf'), 'https://drive.google.com/file/d/1ohoQRWy5sdW4pi7rjz4uzZ9021NcohGm/view'
		-# = link_to t('common.see_pdf'), pdfjs.minimal_path(file: "Resena_DistritoRugby_2018.pdf")
		-# %iframe#fred{:frameborder => "1", :height => "1100", :scrolling => "auto", :src => "http://docs.google.com/gview?embedded=true&url=https://drive.google.com/file/d/1ohoQRWy5sdW4pi7rjz4uzZ9021NcohGm/view", :title => "PDF in an i-Frame", :width => "850"}
