// Project: Distrito Rugby
// Author: Johnny Zapata
// @jsamzapata
// file: team index

.distrito-rugby-team
	.team--content
		.image-thumbnail
			= image_tag 'main/DR-2018b.jpg', :alt => "training-distrito-rugby-c13", :class => 'team--content__image'

		.team--activities

