-# .news-selection.card-columns
- @news_by_tag.each do |news|
  .card
    = link_to(image_tag(news.image, width: '100%', alt: "##{news.title} #DistritoRugby", class: 'img-hov' ), news)
    .card-body
      %h5.card-title= link_to news.title, news, class: 'link'
      %p.card-text= news.summary
